# registry = https://nexus3.devops.lloydesbanking.com/repository/npm-proxy/
strict-ssl = false

# Add these lines for proxy configuration
# proxy = http://your-proxy-url:port
# https-proxy = http://your-proxy-url:port